 <%= stylesheet_link_tag "payment" %>
 <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New Payment</h1>

    <% if @payment.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">

  <!-- Idea from http://bootsnipp.com/snippets/z1EBX -->
  <!-- PRICING TABLE STYLE 1-->
    <div class="row">
      <% colors =  ["warning", "primary", "success", "info"]; i= 0 %>
      <% current_customer.admin.plans.each do  |plan| %>
      <% i = i + 1 %>
      <div class="col-md-3 col-sm-6 col-xs-12 float-shadow" id="plan-<%= plan.id %>">
        <div class="selected_payment" style="display: none;"><strong>Selected</strong></div>
        <div class="price_table_container">
        <div class="price_table_heading"><%= plan.name %></div>
          <div class="price_table_body">
            <div class="price_table_row cost <%= colors[i %4] %>-bg"><strong>$ <%= plan.mount%></strong><span></span></div>
            <div class="price_table_row"><%= plan.days %> Days</div>
            <div class="price_table_row"><%= plan.extens %> Extensions</div>
            <div class="price_table_row">Ulimited calls</div>
          </div>
           <a href="#" data-plan="<%= plan.id %>" class="btn btn-<%= colors[i % 4]%> btn-lg btn-block btn-square">Select</a>
         </div>
      </div>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <%= simple_form_for @payment, :url => payments_url do |f| %>

                <%= f.hidden_field :plan_id %>
              <%= fields_for :creditcard, @creditcard do |cc| %>

              <!-- idea form http://codepen.io/llgruff/full/JdyJWR/ -->
              <!-- CREDIT CARD FORM STARTS HERE -->
              <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="name">NAME</label>
                                          <%= cc.text_field :first_name, class: "form-control", :placeholder => "First Name"  %>
                                          <%= cc.text_field :last_name, class: "form-control", :placeholder => "Last Name"  %>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <%= cc.text_field :number, class: "form-control", :placeholder => "Valid Card Number"  %>
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expMonth">EXPIRATION DATE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <%= cc.select :month, Date::ABBR_MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i+1]}, {:prompt => ''}, class: "form-control" %>
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <%= cc.select :year, Array.new(15){|i| Date.current.year+i}, {:prompt => ''}, class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV CODE</label>
                                    <%= cc.text_field :verification_value, class: "form-control", :placeholder => "CV" %>
                                </div>
                            </div>
                        </div>
                       <div class="row">
                            <div class="col-xs-12">
                                <%= f.submit "Pay", class: "btn btn-success btn-lg btn-block"  %>
                            </div>
                        </div>
                        <div class="row" style="display:none;>"
                            <div class="col-xs-12">
                                <p class="payment-errors">didi</p>
                            </div>
                        </div>
                </div>
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.btn-square').on('click', function (){
    id = $(this).data('plan');
    $('.selected_payment').hide();
    $('#plan-' + id + ' > .selected_payment').show();
    $('#payment_plan_id').val(id)
  });
</script>
